/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
}
a {
  cursor: pointer;
}
/*
 * Global add-ons
 */

// .sub-header {
//   padding-bottom: 10px;
//   border-bottom: 1px solid #eee;
// }
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.profile-image {
  width: 30px;
  margin-right: 10px;
}
// .navbar-nav>li>a.profile-image-dropdown {
//  padding-top: 18px;
//  padding-bottom: 10px;
// }

.table-button {
  cursor: pointer;
  font-size: 15px;
}

#apps {
  margin-top: 50px;
}

.app {
  float: left;
  height: 150px;
  width: 120px;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
}

.app .icon {
  height: 120px;
  width: 120px;
  color: white;
  text-align: center;
  background-color: @brand-primary;
}

.app .icon span {
  font-size: 40px;
  line-height: 120px;
}

.app .name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
  color: black;
}
