doctype html
html
  head
    title= title
    if process.env.NODE_ENV === 'production'
      link(rel='stylesheet', href='/bundle.min.css')
    else
      link(rel='stylesheet', href='/bundle.css')
    link(rel='stylesheet', href='/style/theme')
  body
    block content
