<div id="root" style="width: 280px; margin: 40px auto; padding: 10px;">
</div>
<script src="https://cdn.auth0.com/js/lock-7.0.min.js"></script>
<script>
  var lock = new Auth0Lock('{{clientId}}', '{{auth0Domain}}');

  lock.show({
      container: 'root'
    , callbackURL: window.location.protocol + '//' + window.location.host + '/callback'
    , responseType: 'code'
    , authParams: {
      scope: 'openid profile'
    }
  });
</script>
